body{
    color:rgb(246, 248, 250);
    background: rgb(43, 41, 41);
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    font-family: Georgia, Times, 'Times New Roman', serif, sans-serif;
    margin: 0;
}

h1{ 
    color: white;
    font-weight: normal;
    font-size: 350%;
    margin-left: 15%;
    text-shadow: 0 3px 10px rgba(0, 0, 0);
} 

h2{
    color: rgb(112, 110, 110);
    font-weight: normal;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}

h3{
    color: rgb(216, 190, 135);
    font-weight: normal;
    font-style: italic;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
}

p{
    margin: 0;
}

a{
    color: rgb(163, 139, 71);
    font-weight: normal;
}

header{
    background-image: url(obrazky/E1a.jpg);
    padding: 50px 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

footer{
    text-align: center;
    padding: 20px;
    background: rgb(22, 21, 21);
    color: rgb(204, 190, 176);
}

section{
    background: rgb(29, 28, 27);
    padding: 10px 2% 40px 2%;
    clear:left;
}   

.vzdelani_konicky{
    background-color: rgb(43, 41, 41);
}

.foto-eva{
    width: 300px;
    border: 6px solid white;
    border-radius: 50%;
    float: left;
    margin: 0 50px 50px 0;
}

.Ekresba{
    width: 50%;
}

div{
    padding: 50px 15%;
}

.zvonek{
    width: 60px;
    margin-left: 40px;
    padding-right: 0;
    float: unset;
}

ul{
    padding-left: 15px;
    margin-bottom: 0;
}

ol{
    padding-left: 15px;
    margin-bottom: 0;
}