body{
    color:rgb(246, 248, 250);
    background: rgb(43, 41, 41);
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    font-family: Georgia, Times, 'Times New Roman', serif, sans-serif;
    margin: 0;
}

h1{ 
    color: white;
    font-weight: normal;
    font-size: 350%;
    margin-left: 15%;
    text-shadow: 0 3px 10px rgba(0, 0, 0);
} 

h2
{
    color: rgb(112, 110, 110);
    font-weight: normal;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 0;
}

h3{
    color: rgb(216, 190, 135);
    font-weight: normal;
    font-style: italic;
    font-size: 17px;

    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
}
a {
    color: rgb(163, 139, 71);
    font-weight: normal;
}

header{
    background: rgb(214, 99, 22);
}

footer{
    text-align: center;
    padding: 20px;
    background: rgb(22, 21, 21);
    color: rgb(204, 190, 176);
}

section{
    background: rgb(29, 28, 27);
    padding: 10px 2%;
    clear:left;

}   

.foto-eva {
    width: 300px;
    border: 6px solid white;
    border-radius: 50%;
    float: left;
    margin: 0 50px 50px 0;
}

.Ekresba {
    width: 50%;
}


div {
    padding: 50px 15%;
}

.hlavicka {
    background-image: url(obrazky/E1a.jpg);
    padding: 50px 20px;
    background-repeat: no-repeat;
    background-position: center;
   background-size: cover;
}
.zvonek {
    width: 60px;
    margin-left: 40px;
    padding-right: 0;
    float: unset;
}